body {
	background-color: white;
	color: #565656;
	width: 100%;
	font-size: 15px;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 300;
	font-family: 'roboto', sans-serif;
}
ol, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p {
	margin-left: 0 0 15px;
}
p, a {
	font-family: 'latolight';
}
input {
	outline: none;
}
h1, h2, h3 {
	font-weight: 300;
    margin: 0;
}
h4, h5 {
	font-family: 'latoheavy';
    font-weight: 300;
    margin: 0;
    line-height: 32rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0.9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: 0.9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
p {
	line-height: 1.5rem;
	font-size: 1.1rem;
}
section h2 {
	font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section h5 {
	font-weight: 100;
    font-size: 1.4px;
}
.register {
    width: 100%;
    overflow: hidden;
}
.domain {
    padding: 80px 0;
}
.pricing {
    margin-top: -250px;
}
.aboutus {
    display: inline-block;
    border-top: 1px dashed #ddd;
    margin-top: 90px;
    padding-top: 95px;
    margin-bottom: 80px;
}
.service {
    padding: 80px 0;
}
.footer {
    background: #2a2a2a;
    padding: 80px 0;
}
/*nav section*/
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #3d3325;
}
.main_menu_bg {
    margin-top: 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #e84c3d;
}
.main_menu_bg .navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #686868;
    min-height: 90px;
}
.main_menu_bg .container-fluid {
    margin-top: 20px;
}
.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 33px;
    text-transform:uppercase;
}
.main_menu_bg .navbar-default .navbar-nav>.active>a {
    color: #e84c3d;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
    margin-bottom: -1px;
    padding-bottom: 33px;
}
/*home section*/
.home {
    background: url(../images/header-bg.jpg) no-repeat 100% 100%;
    text-align: center;
}
.single_slider p {
    max-width: 70%;
    font-size: 2.375rem;
    margin: 10px auto;
    font-family: 'latoheavy_italic';
    line-height: 45px;
    color: #fff;
}
.single_slider h2 {
    color: #fff;
    font-size: 4.525rem;
    font-family: 'latobold';
    margin-bottom: 50px;
}
.main_slider_area {
    text-align: center;
    margin-top: 160px;
    color: black;
    background: transparent;
}
/*register section*/
.register{
    width: 100%;
    overflow: hidden;
}
.register .single_login{
    background: #21424a;
}
.single_register{
    background: #2fac6c;
}
.single_register a{
    color: #fff;
    font-size: 1.375rem;
    font-family: 'lotobold';
    text-transform: uppercase;
    padding: 25px 0px;
    display: inline-block;
}